@import '../components';
@import '../modals/modal';

.navbar {
  background-color: $primary-purple;
  padding: 1em 2em;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  
  .nav-left {
    color: white;
    align-items: center;
    
    .logo {
      display: none;

      @media #{$medium-mq} {
        display: block;
      }
      
      h3{
        font-family: $logo-font;
      }
    }

    @media #{$medium-mq} {
      width: 30%;
    }
    
    .mobile-menu {
      color: white;
      font-size: 1.5em;
      @media #{$medium-mq} {
        display: none;
      }
    }

    a{
      text-decoration: none;
      color: white;
    }
  }

  .nav-right {
    display: none;

    @media #{$medium-mq} {
      display: flex;
    }
    
    a, .nav-btn{
      color: white;
      text-decoration: none;
      margin-right: 1em;
      transition: .5s;
      font-size: .8em;
    
      &:hover {
        color: $link-hover-grey; 
      }
    }

  }
  
  }