@import '../components';

.sidebar {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  background-color: white;
  width: 60%;
  padding: 4em 2em;

  .sidebar-link-holder {
    align-items: center;
    margin-bottom: 2em;

    div {
      color: $accent-green;
      margin-right: 2em;
    }

    a, .no-bg-btn {
      text-decoration: none;
      text-align: left;
      color: $accent-purple;
      font-weight: 500;
      font-size: 1em;
    }

      
  }

  .home {
    @extend %fa-icon;
    @extend .fas;

    &:before {
      content: fa-content($fa-var-home)
    }
  }
  .your-shows {
    @extend %fa-icon;
    @extend .fas;

    &:before {
      content: fa-content($fa-var-film)
    }
  }
  .profile {
    @extend %fa-icon;
    @extend .fas;

    &:before {
      content: fa-content($fa-var-user)
    }
  }
  .help {
    @extend %fa-icon;
    @extend .fas;

    &:before {
      content: fa-content($fa-var-question)
    }
  }
  .feedback {
    @extend %fa-icon;
    @extend .fas;

    &:before {
      content: fa-content($fa-var-comment-alt)
    }
  }
  .logout {
    @extend %fa-icon;
    @extend .fas;

    &:before {
      content: fa-content($fa-var-sign-out-alt)
    }
  }

  .close {
    color: black;
  }
}
