@import '../components';

.loading-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $accent-purple;
  justify-content: center;
  align-items: center;
  height: 100vh;
  z-index: 9;
  text-align: center;
  color: white;

  .loading-items {
    align-items: center;
    font-size: .6em;
  }
}