@import '../components';
@import './favourite_button';
@import './unfavourite_button';

.show-header {
  width: 100%;

  .show-left {
    @media #{$x-large-mq} {
      width: 40%;
      height: 500px;
    }

    @media #{$xx-large-mq} {   
      width: 30%;
      height: 599px;
    }

    .show-img{
      width: 100%;
      height: 300px;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      display: none;

      @media #{$medium-mq} {
        display: block;
      }

      @media #{$x-large-mq} {
        display: block;
        height: 500px;
        background-size: cover;
      }

      @media #{$xx-large-mq} {
        height: 599px;
      }
    }
  }

  .show-right {
    background-image: $primary-gradient-grey;
    padding: 2em;
    color: white;
    justify-content: center;
    width: 100%;

    @media #{$x-large-mq} {
      width: 60%;
      height: 500px;
    }

    .show-right-header {
      display: flex;
      flex-flow: row nowrap;
      width: 100%;
      align-items: center;

      .show-img {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 40%;
        height: 150px;
        margin-right: 2em;

        @media #{$small-mq} {
          width: 20%;
        }

        @media #{$small-mq}{
          background-size: contain;
          height: 200px;
        }

        @media #{$x-large-mq} {
          display: none;
        }
      }
    }
    

    @media #{$x-large-mq} {
      width: 60%;
      height: 500px;
    }
    
    @media #{$xx-large-mq} {
      width: 70%;
      height: 599px;
    }

    .show-name {
      font-weight: $aux-font-weight;
      font-size: 1.2em;
      
      @media #{$medium-mq} {
        font-size: 1em;
      }
      
      @media #{$large-mq} {
        font-size: 3em;
      }
    }

    .show-existence {
      align-items: flex-start;
      justify-content: center;
      flex-flow: column;
      font-size: .6em;
      width: 100%;

      @media #{$medium-mq} {
        font-size: .8em;
        text-align: left;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
      }
      
      @media #{$large-mq} {
        font-size: .9em;
      }
      
      .extra-detail {
        margin-top: 1em;
        margin-left: 0;
        
        @media #{$medium-mq} {
          margin-top: 0em;
          margin-left: 1em;
        }
      }
    }
    .show-details {
      width: 100%;
    }
    
    .premiered {
      background-color: $accent-orange;
      color: black;
      border-radius: 5px;
      padding: .5em;
      margin: 1em 0;
      font-size: .7em;
      text-align: center;
    }

    .good {
       color: $accent-green; 
    }

    .poor {
      color: $accent-orange;
    }

    .show-status {
      margin-top: .5em;

      @media #{$medium-mq} {
       margin: .5em 1em;
      }
    }

    .show-rating, .show-premier-date {
      margin: .5em 0;
    }
  }

  .show-extra-details {
    align-items: flex-start;
    flex-flow: column nowrap;

    @media #{$medium-mq} {
      align-items: center;
      flex-flow: row nowrap;
     }

    .show-rating, .show-time, .show-runtime {
      font-size: .5em; 

      @media #{$x-small-mq} {
        font-size: .5em;
        margin-right: .7em;
      }

      @media #{$small-mq} {
        font-size: .6em;
        margin-right: 1em;
      }

      @media #{$medium-mq} {
        font-size: .8em;
      }
    }
  }

  .show-time {
    margin: .5em 0; 
  }


  .summary {
    margin: 2em 0;
      h2 {
        font-size: 2.5em;
        color: $accent-green;
        margin-bottom: .6em;
      }
    
      p{
        font-size: .9em;
      }
  }
}