//Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap');
$primary-font: 'Montserrat', sans-serif;
$primary-font-weight: 400;
$secondary-font-weight: 500;
$aux-font-weight: 700;



//Colors
$primary-purple: #59499e;
$accent-purple: #8589ef;
$primary-blue: #35bee0;
$primary-green: #5cba47;
$accent-green: #18cebb;
$accent-orange: #ffc611;
$primary-pink: #ff6ea1;